.showtotop {
    opacity: 0;
}

.active .showtotop {
    animation: showtop 1s ease-in-out 1 forwards;
}

@keyframes showtop {
    from{
        opacity: 0;
        transform: translate(0,100px);
    }to {
        opacity: 1;
        transform: translate(0,0);
    }
}
.dl-02{
    animation-delay: 0.2s !important;
}

.dl-04{
    animation-delay: 0.4s !important;
}
.dl-05{
    animation-delay: 0.5s !important;
}

.dl-06{
    animation-delay: 0.6s !important;
}

.dl-07{
    animation-delay: 0.7s !important;
}
.dl-08{
    animation-delay: 0.8s !important;
}

.dl-1{
    animation-delay: 1s !important;
}

.dl-12{
    animation-delay: 1.2s !important;
}

.dl-14{
    animation-delay: 1.4s !important;
}

.dl-16{
    animation-delay: 1.6s !important;
}

.dl-18{
    animation-delay: 1.8s !important;
}

.dl-2{
    animation-delay: 2s !important;
}


.effectShopping {
    animation: effect 0.75s linear;
}

@keyframes effect {
    0%{
        transform: scale(1);
    }50%{
        transform: scale(1.5);
    }100%{
        transform: scale(1);
    }
}



