@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Great+Vibes&family=Lora&family=Montserrat:wght@400;500&family=Poppins:wght@500&family=Roboto:wght@100;300;400;500;700&display=swap');
@import "tailwindcss";

:root {
    --primary-color: #C8A97E;
    --color-top: #A0A09F;
    --white-color: #fff;
}


* {}

body {
    overflow-x: hidden;
}

/* font size */

.fz-14 {
    font-size: 14px;
}

.fz-16 {
    font-size: 16px;
}

.fz-17 {
    font-size: 17px;
}

body {
    font-family: 'popins', sans-serif;
    line-height: 2;
    font-weight: 400;
}


/* padding */
.p-16 {
    padding: 16px;
}

.p-24 {
    padding: 24px;
}

/* margin  */
.m-top-32 {
    margin-top: 32px;
}

.m-bottom-40 {
    margin-bottom: 50px;
}

/* top */
.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    height: 35px;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1140px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.nav__brand {
    color: var(--white-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    line-height: 56px;

}




.nav__item {
    list-style-type: none;

    padding: 12px 20px;
}

.nav__item a {
    transition: 0.2s;
}

.nav__item:hover a {
    color: var(--primary-color);
}

.nav__item.button:hover a {
    color: var(--white-color);
}

.nav__item a {
    color: var(--white-color);
    font-size: 14px;
    text-decoration: none;
}

.shopping__cart i {
    color: #fff;
}

.active {
    color: var(--primary-color) !important;
}



li:hover {
    cursor: pointer;
}


.button {
    color: var(--white-color) !important;
    background-color: var(--primary-color);
    border-radius: 6px;
}

.button a:hover {
    color: #000 !important;
}

.slide {
    position: relative;
}

.slide__title {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-weight: 600;
    letter-spacing: 4px;
    width: 100%;
    text-align: center;
    width: 100%;
}

body .name__brand {
    font-size: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
}


/* section item  */
.item {
    padding: 7rem 0;
}



.heading__section {
    margin-bottom: 1.5rem;
}

body .heading__section .title {
    font-size: 100px;
    font-family: "Great Vibes", cursive;
    color: var(--primary-color);
}

body .heading__section .sub {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    text-align: left;
    margin-top: -100px;
}

.text {
    color: #666666;
}



.services .heading__section {
    align-items: center;
}

body .services .sub {
    text-align: center;
}

.services .icon i {
    font-size: 54px;
    color: var(--primary-color);
}

.dish__img {
    width: 100%;
    height: 235px;
    background-position: center;
    background-size: cover;
}

.dish__desc {
    padding: 30px 20px 10px 20px;
    border: 1px solid #e6e6e6;
}

.dish__name {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Số dòng muốn giới hạn */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.dish__price {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.dish__prameter {
    font-size: 17px;
    line-height: 34px;
    text-align: left;
    margin: 0;
}

.add__card,
.order {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1.5;
    transition: 0.3s;
    margin-top: 10px;
}

.order a {
    text-decoration: none;
    color: var(--white-color);
}

.order:hover a {
    color: var(--primary-color);
}

.add__card:hover,
.order:hover {
    color: var(--primary-color);
    background: #fff;
    cursor: pointer;
}


.chef__img {
    height: 320px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.chef__contact {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.chef__contact li {
    margin-right: 10px;
    color: var(--primary-color);
}

.chef__desc {
    padding-top: 20px;
}

.chef__name {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

body .chef__position text {
    font-size: 14px;
    opacity: 0.2;
}

.booking {
    background: var(--white-color);
}

.form__group {
    text-align: left;
    margin-bottom: 1rem;
}

.form__group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 17px;
}

.form__group input,
.form__group select {
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 80%;
    line-height: 2;
    height: 45px;
}



.customer {
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 44px;
}

.customer i {
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 16px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 50%;
    line-height: 40px;
    color: var(--white-color);
    text-align: center;
}

.customer__desc {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 34px;
}

.blog__content {
    padding: 16px 24px 24px 24px;
}

.footer__media {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer__media li i {
    width: 40px;
    height: 40px;
    background-color: #3e3e3e;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.2s;
}

.footer__media li:nth-child(1) i:hover {
    color: rgb(105, 158, 244);
}

.footer__media li:nth-child(2) i:hover {
    color: rgb(84, 145, 243);
}

.footer__media li:nth-child(3) i:hover {
    color: rgb(236, 143, 82);
}


.footer__heading {
    margin-bottom: 40px;
    font-weight: 600;
}

.footer__media {
    margin-top: 36px;
}

.footer span {
    width: 45%;
    display: inline-block;
    color: #acabab;
}

.list__thumd {
    display: flex;
    flex-wrap: wrap;
}

.thumd {
    width: 85px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

.footer .footer__input {
    padding: 6px 12px;
    background-color: #3e3e3e;
    border: none;
    color: #fff;
    width: 100%;
    line-height: 2;
    margin-bottom: 16px;

}

.footer__input::placeholder {
    color: #e6e6e6;
}





/* about */

.breadcrumb {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
}

.breadcrumb .breadcrumb__item a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb .breadcrumb__item {
    font-size: 12px;
    margin-right: 8px;
}

/* menu */
.nav__change {
    padding-bottom: 50px;
}

.nav__change__item {
    transition: 0.5s linear;
}

.button__change {
    font-size: 20px;
    color: #000;
    padding: 10px;
    width: 100%;
    border: none;
    font-weight: 600;
    line-height: 40px;
    background-color: #fff;
    transition: 0.3s;
    position: relative;
}

.button__change.active::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 10px solid var(--primary-color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.button__change.active {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.button__change:hover {
    background-color: #c09d6c;
    color: var(--white-color);
}

.menu__item {
    display: none;
}

.menu__item.active {
    display: flex;
    width: 100%;
}


.modal__order {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1.5;
    transition: 0.3s;
}


/* shopping cart */
.shopping__cart__icon {
    position: relative;
    display: flex;
    align-items: center;
}


.shopping__cart__icon .shopping__cart__quantity {
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 55%;
    padding: 2px 8px;
    font-size: 12px;
}

.shopping__container {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

}

.shopping__cart {
    backdrop-filter: blur(15px);
    background-color: transparent !important;
    transition: 0.5s;
    /* overflow-y: scroll; */
    overflow: hidden;
}

.shopping__cart .ant-drawer-body {
    background-color: transparent !important;
    /* backdrop-filter: blur(15px) !important; */
    transition: 0, 5s;
}

.shopping__close {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
}

.shopping__close:hover {
    opacity: 0.6;
}

.shopping__cart h1 {
    filter: brightness(2);
}

.shopping__cart h2 {
    color: #fff;
}

.shopping__list {
    margin: 0;
    padding: 0;
    max-height: 500px;
    overflow-x: hidden;
    scroll-behavior: none;
}

.shopping__item {
    display: flex;
    justify-content: space-between;
}

.delete {
    float: right;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    width: 62px;
    height: 62px;
    border-radius: 6px;
    transition: 0.4s;
}

.delete:hover {
    background: #fff;
    color: var(--primary-color);
}


/*  */
.icon_cart {
    background-color: var(--primary-color);
}