@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Great+Vibes&family=Lora&family=Montserrat:wght@400;500&family=Poppins:wght@500&family=Roboto:wght@100;300;400;500;700&display=swap');
@import "tailwindcss";
/* index.css */


@theme {
    --font-primary: 'Great Vibes', 'cursive';
    --primary-color: #C8A97E !important;
}


/* Đảm bảo thông báo Ant Design hiển thị trên cùng */
.ant-notification {
    z-index: 9999 !important;
}

.ant-select-dropdown,
.ant-cascader-dropdown,
.ant-picker-dropdown,
.ant-dropdown,
.ant-dropdown-menu {
    z-index: 5000 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 1s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.animate-slide-in {
    animation: slide-in 0.4s ease-out forwards;
}

.animate-slide-out {
    animation: slide-out 0.4s ease-in forwards;
}


/* styles/button.css */
.btn {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    color: white;
    background-color: #C8A97E;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 100%;
}

.btn:hover {
    background-color: #b08b64 !important;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.list_menu_item {
    font-family: 600;
    padding: 8px 12px;
}

.item-link {
    text-decoration: none;
    color: #7d8da1;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}

.list_menu_item:hover {

    background-color: var(--primary-color);
}

.list_menu_item:hover .item-link {
    color: white;
    transform: translateX(20px);
}

.list_menu_item.active {
    background-color: var(--primary-color);
}

.list_menu_item.active .item-link {
    color: white;
    transform: translateX(20px);
}