.top__item {
    color: var(--color-top) ;
}

.menu {
   position: absolute;
   width: 100%;
   top: 60%;
   padding: 40px 0;
}
.menu__name,
.menu__ingredient,
.menu__img {
    text-align: center ;
}
.menu__img img {
    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu__name{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: var(--white-color) ;
}

.menu__ingredient {
    font-size: 14px;
    line-height: 28px;
    color: var(--white-color);
    opacity: 0.8;
}

